<h3>Mes résultats</h3>
<div class="result_container">

  <div class="result_header">
    <p>Loyer annuel</p>
    <p>Abbatement</p>
    <p>Amortissement immobilier</p>
    <p>Amortissement mobilier</p>
    <p>Charges</p>
    <p>Intérêts d'emprunt</p>
    <p>Revenus imposables</p>
    <p>Taux d'imposition</p>
    <p>Impôts à payer</p>

  </div>


  <div class="result_card">
    <p class="result-name">Location Meublée <br> Non Professionnelle</p>
      <div class="result_card_bottom_pink">
        <p>18 400 euros</p>
        <p>0%</p>
        <p>7 700 euros</p>
        <p>3 000 euros</p>
        <p>25 000 euros</p>
        <p>2 000 euros</p>
        <p> - </p>
        <p>41%</p>
        <p class="result_impot"> 0 euros</p>
      </div>
  </div>

  <div class="result_card">
    <p class="result-name">Nom propre</p>
    <div class="result_card_bottom_pink">
    <p>18 400 euros</p>
    <p>0%</p>
    <p>7 700 euros</p>
    <p>3 000 euros</p>
    <p>25 000 euros</p>
    <p>2 000 euros</p>
    <p> - </p>
    <p>41%</p>
    <p> <b>0 euros</b></p>
    </div>
  </div>

  <div class="result_card">
    <p class="result-name">Société Civile <br> Immobilière (IS)</p>
    <div class="result_card_bottom_pink">
    <p>18 400 euros</p>
    <p>0%</p>
    <p>7 700 euros</p>
    <p>3 000 euros</p>
    <p>25 000 euros</p>
    <p>2 000 euros</p>
    <p> - </p>
    <p>41%</p>
    <p> <b> 0 euros</b></p>
    </div>
  </div>

  <div class="result_card">
    <p class="result-name">Société Civile <br> Immobilière (IR)</p>
    <div class="result_card_bottom_pink">
    <p>18 400 euros</p>
    <p>0%</p>
    <p>7 700 euros</p>
    <p>3 000 euros</p>
    <p>25 000 euros</p>
    <p>2 000 euros</p>
    <p> - </p>
    <p>41%</p>
    <p> <b> 0 euros</b></p>
    </div>
  </div>

</div>

  <div>
    <h5>Vous souhaitez enregistrer votre projet, le modifier ou faire une nouvelle simulation ?</h5>

  <button class="main-button" id="result_main_btn">
          Enregistrer la simulation
        </button>
  </div>
