// Specific CSS for your home-page
// .container-home {
//   position: relative;
// }

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.main-text {
  margin-left: 110px;
}

.home-image {
  margin-left: 48px;
}

.home-picture {
  width: 650px;
  height: 860px;
}

.first-text {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: 300;
  color: rgb(18, 55, 73);
  margin-bottom: 0px;
}

.second-text {
  font-family: "Roboto", sans-serif;
  font-size: 92px;
  font-weight: 900;
  color: rgb(18, 55, 73);
  margin-bottom: -6px;
}

.div-second-text {
  margin-top: 50px;
}

.third-text {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: rgb(18, 55, 73);
  margin-top: 50px;
}

.fourth-text {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: rgb(18, 55, 73);
  margin-bottom: 0px;
}

.div-fourth-text {
  margin-top: 40px;
}

.div-button {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}

.txt-perso {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(18, 55, 73);
  margin-top: 20px;
}

.medium-text {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: rgb(18, 55, 73);
  letter-spacing: 2px;
  margin-bottom: -4px;
}

.perspective-text-inside {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: rgb(18, 55, 73);
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.perspective-text {
  margin-left: 110px;
  margin-top: 75px;
}

.main2 {
  margin-top: 75px;
  padding-top: 125px;
  padding-bottom: 225px;
  background-image: asset-url("img-home2.avif");
  background-size: cover;
  background-position: center;
}

.home-card {
  // top: 10%;
  // left: -8%;
  width: 660px;
  margin-left: 110px;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
  margin-top: 30px;
  color: rgb(18, 55, 73);
  position: relative;
  border-radius: 10px;
  // border-radius: 8px;
}

.div-home-card-txt-1 {
  padding-top: 45px;
}

.home-card-txt-1 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-left: 45px;
  margin-bottom: 0px;
}

.compte-text {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 900;
  margin-top: 50px;
  margin-bottom: 40px;
}

.para {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-left: 45px;
  padding-bottom: 50px;
}

.div-button-account {
  position: absolute;
  top: 115%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// ------
// ------
// ------

.buton-shine {
  transform: translate(-50%, -50%);
  color: #ffffff;
  background: linear-gradient(
    to right,
    #4d4d4d 0,
    rgb(230, 172, 60) 10%,
    #4d4d4d 20%
  );

  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 6s infinite linear;
  animation-fill-mode: forwards;
  font-weight: 600;
  font-size: 62px;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

// .home-texte {
//   width: 70%;
//   font-size: x-large;
//   color: rgb(18, 55, 73);
//   margin-left: 4%;
//   padding-right: 395px;
//   padding-bottom: 8px;

//   // border: 2px solid red;
// }

// h2 {
//   font-size: 40px;
// }
// h4 {
//   font-size: 25px;
//   font-weight: bold;
// }

// p {
//   font-size: 15px;
// }
// .style-text {
//   font-size: 70px;
// }

// .button-first {
//   background-color: #ff69b4;
//   border: none;
//   width: 300px;
//   height: 30px;
//   color: white;
//   padding: 10px 20px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 16px;
//   margin: 4px 2px;
//   cursor: pointer;
//   border-radius: 20px;
// }

// .home-image {
//   width: 30%;
// }

// .btn-danger {
//   width: 150px;
//   height: 50px;
//   // display: inline-block;
//   margin: 10px auto;
//   text-align: center;
//   padding-bottom: 10px;
// }

// #description {
//   font-size: 20px;
// }

// .txt-milieu {
//   margin: 10px 65px 10px;
//   text-align: start;
//   margin-right: 540px;
//   margin-bottom: 30px;
//   margin-top: 30px;
//   font-size: 600px;

//   // border: 2px solid rgb(32, 15, 127);
// }
