.container-infos {
  padding-left: 100px;
  padding-right: 100px;
}

.text-info-title {
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  font-weight: 700;
  color: rgb(18, 55, 73);
  margin-bottom: 50px;
}

.text-info-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 250;
  color: rgb(18, 55, 73);
  margin-bottom: 50px;
}

.title-infos {
  margin-bottom: 70px;
  margin-top: 50px;
}

.sub-title-infos {
  margin-bottom: 50px;
}
