.main-new {
  align-items: center;
  justify-content: center;
  // height: 400px;
  width: 400px;
  // margin-left: 40%;
  margin-top: 3%;
  // padding: 10px;
  margin-bottom: 20px;
  // box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 10px;
}
h2 {
  font-weight: 900;
}

.new-card {
  // background-color: #fdf2f3;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
  padding: 6px;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  gap: 20px;
  width: 900px;
  margin-left: 300px;
  margin-bottom: 220px;
  z-index: 2;
  background-color: white;
  position: relative;
}

.form-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

.main-button2 {
  background-color: rgb(237, 139, 142);
  color: white;
  padding: 10px 60px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-align: center;
  position: relative;
  left: 26%;
}

.main-button2:hover {
  box-shadow: 0px 0px 15px rgba(40, 25, 255, 0.3);
  background-color: rgb(237, 139, 142);
  color: rgb(18, 55, 73);
}

.form-label-inline {
  margin-top: 5px;
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: rgba(18, 55, 73, 0.8);
  width: 250px;
}
.form-inputs2 {
  margin-left: 100px;
}

.main-button3 {
  background-color: rgb(237, 139, 142);
  color: white;
  padding: 10px 60px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-align: center;
  position: relative;
  left: 36%;
}

.image-femme {
  background-image: url(illustration-fille.png);
  height: 400px;
  width: 400px;
  bottom: 0;
  background-position: center;
  background-size: cover;
  position: absolute;
}

.new-card2 {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
  padding: 6px;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  gap: 20px;
  width: 900px;
  margin-left: 300px;
  margin-bottom: 220px;
  z-index: 2;
  background-color: white;
  position: relative;
  margin-top: 230px;
}
