.main-new {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 900;
}

.new-card2 {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
  padding: 6px;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  width: 900px;
  // margin-bottom: 220px;
  z-index: 2;
  background-color: white;
  position: relative;
}

.new-card {
  // background-color: #fdf2f3;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
  padding: 6px;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  gap: 20px;
  width: 900px;
  margin-left: 300px;
  margin-bottom: 220px;
  z-index: 2;
  background-color: white;
  position: relative;
}

.form-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

.form-inline2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

.main-button2 {
  background-color: rgb(237, 139, 142);
  color: white;
  padding: 10px 60px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-button2:hover {
  box-shadow: 0px 0px 15px rgba(40, 25, 255, 0.3);
  background-color: rgb(237, 139, 142);
  color: rgb(18, 55, 73);
}

.form-label-inline {
  margin-top: 25px;
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: rgba(18, 55, 73, 0.8);
  width: 250px;
}
.form-inputs2 {
  display: flex;
  flex-direction: column;
  // margin-top: 30px;
  // margin-left: 100px;
}

.main-button3 {
  background-color: rgb(237, 139, 142);
  color: white;
  padding: 10px 60px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-align: center;
  position: relative;
  left: 36%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.new-card2 {
  margin-top: -100px;
  border-radius: 10px;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
  padding: 30px;
  font-family: "Roboto", sans-serif;
  width: 800px;
  z-index: auto;
  background-color: white;
  position: relative;
}

.image-femme {
  background-image: url(illustration-fille.png);
  height: 450px;
  width: 450px;
  bottom: -75%;
  left: -33%;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -10;
}

.image-femme2 {
  background-image: url(illustration-fille.png);
  height: 450px;
  width: 450px;
  bottom: -45%;
  left: -33%;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -10;
}
