.marge {
  padding-left: 170px;
  padding-right: 170px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.white-header-card {
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 350px ;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
  padding: 6px;
  font-family: "Roboto", sans-serif;
  padding: 30px;
  gap: 10px;

  h2 {
    text-align: center;
  }
}

.white-header-card h2 {
  font-size: 25px;
  font-weight: 900;
  color: #123749;
}

.white-header-card p,
i {
  font-size: 16px;
  font-weight: 700;
  margin: 0px;
  color: #123749;
}

.white-header-card p {
  text-align: start;
  flex-grow: 1;
  padding-right: 10px;
}

.card-line {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  margin-bottom: 10px;
  align-items: center;
}

.white-header-card-line {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  align-items: baseline;
  border-bottom: 1px dotted white;
  margin-bottom: 25px;
}

.white-header-card span {
  text-align: start;
  flex-grow: 1;
  padding-left: 10px;
}

.date-icones {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

#appartement {
  color: #123749;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

.mini-button-profile2 {
  color: #123749;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 4px;
  height: 35px;
  width: 400px;
  flex-grow: 1;
  font-size: 20px;
  padding-left: 10px;
}
.container-graphs {
  display: flex;
  padding: 30px 240px;
  justify-content: center;
  gap: 40px;

}

.graphs {
  padding: 10px;
  display: flex;
  flex-direction: column;

  h3 {
    padding-left: 0;
  }
}

.mini-button-profile2:hover {
  color: rgb(230, 172, 60);
  // background-color: black;
}

.title-perso {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin: 50px 0px;
}

#title-perso-1 {

  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin: 50px 0px;
}

#button-text {
  padding: 0px;
}

// .main-button-profile2 {
//   /* background-color: #ed8b8e; */
//   color: black;
//   display: block;
//   font-family: "Roboto", sans-serif;
//   font-weight: 900;
//   text-decoration: none;
//   border: none;
//   border-radius: 4px;
//   /* box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3); */
//   cursor: pointer;
//   /* text-align: center; */
//   /* padding-left: 35px; */
//   /* padding-right: 35px; */
//   /* padding-bottom: 3px; */
//   padding-top: 4px;
//   height: 35px;
//   width: 400px;
//   flex-grow: 1;
//   padding-left: 10px;
// }
.main-button-profile2 {
  background-color: rgb(237, 139, 142);
  color: white;
  padding: 12px 70px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-align: center;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
}

.page-results {
  padding-left: 170px;
  padding-right: 170px;
}
