// show.html.erb

h3 {
  padding-left: 170px;
  padding-top: 10px;
  font-weight: bold;
  color: rgb(18, 55, 73);
  font-family: "Roboto", sans-serif;
}

.result_add_table {
  margin: 0;
  justify-content: center;
}

.title_result_add_table {
  margin-bottom: 20px;
  color: white;
  // text-align: center;
  // margin-bottom: 8px;
  margin-top: 16px;
}

.result_container {
  background-color: white;
  display: flex;
  align-items: flex-end;
  margin-left: 170px;
  color: rgb(18, 55, 73);
  font-family: "Roboto", sans-serif;
  padding: 40px;
  border-radius: 10px;
}

.result_container_profile {
  // background-color: white;
  display: flex;
  align-items: flex-end;
  color: rgb(18, 55, 73);
  font-family: "Roboto", sans-serif;
  padding: 40px;
  border-radius: 10px;
  margin: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #000;
}

.result_header {
  // color: rgb(18, 55, 73);
  font-family: "Roboto", sans-serif;
  margin-bottom: 8px;

  p {
    padding-top: 15px;
    height: 30px;
    // border-bottom: 2px solid black;
    color: rgb(18, 55, 73);
    font-family: "Roboto", sans-serif;
  }
  p:last-child {
    height: 30px;
    font-weight: bold;
    color: rgb(18, 55, 73);
    font-family: "Roboto", sans-serif;
  }
}

.result_card {
  transition: 0.3s ease-in-out;
  //  ------
  // styl effect + hover behind à la ligne 122 to 129
  //  ------
  color: rgb(18, 55, 73);
  font-family: "Roboto", sans-serif;
  color: rgb(18, 55, 73);
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  overflow: hidden;
  transition: 0, 5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  p {
    height: 30px;
    color: rgb(18, 55, 73);
    font-family: "Roboto", sans-serif;
  }
  p:last-child {
    height: 20px;
    margin: 0;
  }
  margin: 10px;
  text-align: center;
  border: 1px solid black;
  color: rgb(18, 55, 73);
  font-family: "Roboto", sans-serif;
  border-radius: 8px;
}

.result-name {
  background-color: white;
  border-radius: 8px 8px 0px 0px;
  // border-radius: 8px;
  color: rgb(18, 55, 73);
  font-family: "Roboto", sans-serif;
  // padding: 10px;
  padding-bottom: 50px;
  margin-bottom: 0px;
  font-weight: bold;
}

.result_card_bottom_pink {
  color: rgb(18, 55, 73);
  font-family: "Roboto", sans-serif;
  background-color: rgb(253, 242, 243);
  // padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  min-width: 200px;
  border-radius: 0px 0px 8px 8px;
}

.result_impot {
  color: rgb(18, 55, 73);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-bottom: 1px;
}

.result_card:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.result_card:not(:hover) {
  filter: grayscale(100%);
}

h5 {
  color: rgb(18, 55, 73);
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

#result_main_btn {
  font-family: "Roboto", sans-serif;
  position: relative;
  left: 40%;
  margin-bottom: 20px;
}

.popfont {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: rgba(18, 55, 73, 0.4);
  padding-left: 62px;
}

#text-popup {
  text-align: center;
}

.show-title {
  margin-top: 30px;
}

h4 {
  color: #005b96;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}
