// show.html.erb

h3 {
  padding-left: 170px;
  padding-top: 10px;
  font-weight: bold;
  color: rgb(18, 55, 73);
  font-family: "Roboto", sans-serif;
}

.result_add_table {
  margin: 0;
  justify-content: center;
}

.title_result_add_table {
  margin-bottom: 20px;
}

.result_container {
  background-color: white;
  display: flex;
  align-items: flex-end;
  margin-left: 170px;
  color: rgb(18, 55, 73);
  font-family: "Roboto", sans-serif;
  padding: 40px;
  border-radius: 10px;
}

.result_container_profile {
  background-color: white;
  display: flex;
  align-items: flex-end;
  color: rgb(18, 55, 73);
  font-family: "Roboto", sans-serif;
  padding: 40px;
  border-radius: 10px;
  margin: 0;
  justify-content: center;
}

.result_header {
  // color: rgb(18, 55, 73);
  font-family: "Roboto", sans-serif;
  margin-bottom: 8px;

  p {
    padding-top: 15px;
    height: 30px;
    // border-bottom: 2px solid black;
    color: rgb(18, 55, 73);
    font-family: "Roboto", sans-serif;
  }
  p:last-child {
    height: 30px;
    font-weight: bold;
    color: rgb(18, 55, 73);
    font-family: "Roboto", sans-serif;
  }
}

.result_card {
  //  ------
  // styl effect + hover behind à la ligne 122 to 129
  //  ------
  color: rgb(18, 55, 73);
  font-family: "Roboto", sans-serif;
  color: rgb(18, 55, 73);
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  overflow: hidden;
  transition: 0, 5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  p {
    height: 30px;
    color: rgb(18, 55, 73);
    font-family: "Roboto", sans-serif;
  }
  p:last-child {
    height: 20px;
    margin: 0;
  }
  margin: 10px;
  text-align: center;
  border: 1px solid black;
  color: rgb(18, 55, 73);
  font-family: "Roboto", sans-serif;
  border-radius: 8px;
}

.result-name {
  background-color: white;
  border-radius: 8px 8px 0px 0px;
  // border-radius: 8px;
  color: rgb(18, 55, 73);
  font-family: "Roboto", sans-serif;
  // padding: 10px;
  padding-bottom: 50px;
  margin-bottom: 4px;
  font-weight: bold;
}

.result_card_bottom_pink {
  color: rgb(18, 55, 73);
  font-family: "Roboto", sans-serif;
  background-color: rgb(253, 242, 243);
  // padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  min-width: 200px;
  border-radius: 0px 0px 8px 8px;
}

.result_impot {
  color: rgb(18, 55, 73);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-bottom: 1px;
}

.result_card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.result_card:not(:hover) {
  filter: grayscale(100%);
}

// ---xxxxx-----

// ---xxxxx-----

h5 {
  color: rgb(18, 55, 73);
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

#result_main_btn {
  font-family: "Roboto", sans-serif;
  position: relative;
  left: 40%;
  margin-bottom: 20px;
}

// ------------------
// ------------------
// juju
// ------------------
// ------------------

// body {
//   // background: rgb(0, 212, 255);

//   // background: linear-gradient(
//   //   45deg,
//   //   rgba(0, 212, 255, 1) 0%,
//   //   rgba(11, 3, 45, 1) 100%
//   // );

//   background-size: cover;
//   background-position: center;

//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
// }

// .main_how_many {
//   backdrop-filter: blur(16px) saturate(180%);
//   padding: 38px;
//   filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));

//   display: flex;
//   flex-direction: column;
//   border: 1px solid red;
//   margin: 8px;
//   padding: 8px;
//   border-radius: 5px;
//   background-color: white;
// }

// .wrap {
//   width: 260px;
//   height: 480px;
//   display: flex;
//   flex-direction: column;
//   padding-bottom: 4px;
// }

// .banner-image {
//   background-image: url(https://images.igdb.com/igdb/image/upload/t_cover_big/co3nnx.png);
//   background-position: center;
//   background-size: cover;
//   height: 300px;
//   width: 100%;
//   border-radius: 12px;
//   border: 1px solid rgba(255, 255, 255, 0.255);
// }

// h1 {
//   font-family: "Righteous", sans-serif;
//   color: black;
//   text-transform: uppercase;
//   font-size: 2.4rem;
// }

// p {
//   color: black;
//   font-family: "Lato", sans-serif;
//   text-align: center;
//   font-size: 0.8rem;
//   line-height: 150%;
//   letter-spacing: 2px;
//   text-transform: uppercase;
// }

// .button-wrap {
//   margin-top: 18px;
// }

// .btn {
//   border: none;
//   padding: 12px 24px;
//   border-radius: 24px;
//   font-size: 12px;
//   font-size: 0.8rem;
//   letter-spacing: 2px;
//   cursor: pointer;
// }

// .btn + .btn {
//   margin-left: 10px;
// }

// .outline {
//   background: #0d6efd;
//   color: rgba(255, 255, 255, 0.95);
//   border: 1px solid #0d6efd;
//   filter: drop-shadow(0);
//   font-weight: bold;
//   transition: all 0.3s ease;
// }

// .fill {
//   background: #1edd88;
//   color: rgba(255, 255, 255, 0.95);
//   border: 1px solid #1edd88;
//   filter: drop-shadow(0);
//   font-weight: bold;
//   transition: all 0.3s ease;
// }

// .outline:hover {
//   transform: scale(1.125);
//   color: #0d6efd;
//   border-color: #0d6efd;
//   transition: all 0.3s ease;
// }

// .fill:hover {
//   transform: scale(1.125);
//   color: #1edd88;
//   border-color: #1edd88;
//   transition: all 0.3s ease;
// }
