<%# <h2>Forgot your password?</h2> %>


<div class="main-new">
  <div class="new-card">
    <div class="new-logo">
        <%# <%= image_tag("logo-perspective-OR") %>
    </div>
    <h2>Mot de passe oublié ?</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-inputs">



        <div class="form-inline2">
          <%= f.input :email,
              label: "Adresse e-mail",
              required: false,
              autofocus: true,
              wrapper_html: { class: "form-group-inline" },
              input_html: { class: "form-label-inline", placeholder: "albert.dupont@gmail.com" },
              label_html: { class: "form-label-inline" }
          %>
        </div>



      </div>

      <div class="main-button2">
        <%= f.button :submit, "Réinitialiser" %>
      </div>
  </div>
    <% end %>
</div>

<div class="footer_remplissage2"></div>
