 <nav class="navbar">
        <div class="navbar-brand">PERSPECTIVE</div>
        <div class="navbar-avatar">
            <button class="logout-btn">Se déconnecter</button>
            <img src="logo-blanc.png" alt="Avatar" class="avatar">
        </div>
    </nav>
