 <nav class="navbar">
        <div class="navbar-brand">PERSPECTIVE</div>
        <%# <%= link_to "Home", root_path, class: ""%>


        <div class="navbar-avatar">

            <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "logout-btn"  %>

            <img src="logo-perspective-OR.png" alt="" class="avatar">

        </div>
    </nav>
