 <nav class="navbar">
      <div class="navbar-brand"></div>
        <div class="div">
        <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "logout-btn"  %>
        <div class="navbar-avatar-img"></div>
      </div>
        </div>
 </nav>
