<div class="container-home">
<div class="main">
  <div class="main-text">

    <h2 class="first-text">Comment choisir entre SCI et</h2>
    <h2 class="first-text">LMNP ? Quel régime fiscal adopter ?</h2>

  <div class="div-second-text">
    <h1 class= "second-text">Investir en toute</h1>
    <h1 class= "second-text">confiance</h1>
  </div>

    <h4 class= "third-text">L’investissement locatif pour tous</h4>

  <div class="div-fourth-text">
    <p class= "fourth-text">Testez notre outil gratuit et sans engagement conçu pour</p>
    <p class= "fourth-text">vous guider dans vos investissements immobiliers.</p>
  </div>

  <div class="div-button">
    <%= link_to "Commencer ma simulation *",  new_simulation_path, data: {turbo: false}, class:"main-button" %>
  </div>

  <p class="txt-perso" >*aucune donnée personnelle ne sera demandée pour obtenir les résultats de la simulation</p>

  </div>

  <div class="home-image">
    <%= image_tag("img-home1_modified.jpg", class:"home-picture", alt: "description de l'image") %>
  </div>

</div>

<div class="perspective-text">
  <p class="medium-text"><strong class="perspective-text-inside">Perspective</strong> simplifie la <strong>gestion fiscale</strong> de vos futurs investissements</p>
  <p class="medium-text">immobiliers en vous offrant des <strong>recommandations personnalisées</strong>, vous</p>
  <p class="medium-text">permettant de prendre des décisions éclairées et d’<strong>optimiser vos rendements !</strong></p>
</div>

  <div class="main2">

    <div class="home-button">

      <div class="home-card">


        <div class="div-home-card-txt-1">
          <h4 class="home-card-txt-1">L’accès à notre simulateur est totalement</h4>
          <h4 class="home-card-txt-1">gratuit et sans engagement ! </h4>
        </div>

        <h5 class="compte-text">Pourquoi créer un compte?</h5>

        <div class="para">
          <p>➡️ enregistrez vos différentes simulations</p>
          <p>➡️ éditez vos anciennes simulations</p>
          <p>➡️ gagnez du temps en enregistrant vos informations</p>
        </div>

        <div class="div-button-account">
          <%= link_to "Créer un compte", user_session_path, class:"main-button" %>
        </div>

        </div>



    </div>


  </div>

</div>
