<div class="main">
  <div class="home-texte">
    <h2>Comment choisir entre  SCI et LMNP ? Quel régime fiscal adopter ?</h2>

    <h1 class= "style-text"> <b>Investir en toute confiance </b> </h1>
    <h4>L’investissement locatif  pour tous</h4>
    <p>Testez notre outil gratuit et sans engagement conçu pour vous guider dans vos investissements immobiliers. </p>

    <button class="main-button" style="padding: 4px 60px">Commencer ma simulation *</button>


    <div class="txt-perso" >*aucune donnée personnelle ne sera demandée pour obtenir les résultats de la simulation</div>
  </div>

  <div class="home-image">
    <%= image_tag("img-home1.avif", class:"home-picture", alt: "description de l'image") %>
  </div>
</div>


  <div class="txt-milieu">
    <p id="description">
      Perspective simplifie la <b>
      gestion fiscale </b> de vos futurs investissements immobiliers en vous offrant des <b>
      recommandations personnalisées</b>, vous permettant de prendre des décisions éclairées et  d’<b>
      optimiser vos rendements !</b>
    </p>
  </div>

  <div class="main2">
      <div class="home-card">
      <h4>L’accès à notre simulateur est totalement gratuit et sans engagement ! </h4>
        <h5>Pourquoi créer un compte?</h5>
          <div class="para">
            <ul>
                <p> ➡️ enregistrez vos différentes simulations </p>
                <p> ➡️ éditez vos anciennes simulations</p>
                <p> ➡️ gagnez du temps en enregistrant vos informations </p>
            </ul>
            </div>
      </div>
      <button class="main-button" id="compte-creation">
        Créer un compte
      </button>
  </div>
