<div class="container-infos">
      <div class = "title-infos">
      <h2 class="first-text">Société civile immobilière : comment ça marche ?</h2>
      </div>
      <p class="text-info-paragraph">
        Créer une société civile immobilière (SCI) permet de constituer et gérer un patrimoine à plusieurs. Cette forme juridique apporte de la flexibilité et permet de bénéficier d’une fiscalité avantageuse, notamment dans le cadre d’une succession. Comment constituer une SCI ? Quelles règles régissent ce statut ? Quels sont ses avantages ? <br><br>On vous donne toutes les réponses.
      </p>
      <h4 class="text-info-title">Qu’est-ce qu’une société civile immobilière ?</h4>
        <p class="text-info-paragraph">
          Une société civile immobilière (SCI) est une structure juridique constituée a minima de deux personnes, chacune ayant le statut d’associé, permettant de gérer un ou plusieurs biens immobiliers. Le patrimoine immobilier est détenu par la société civile immobilière et chaque associé reçoit des parts sociales proportionnelles à son apport.<br><br>
          Comme toute société, la société civile immobilière dispose de statuts, régissant son fonctionnement. Rédiger les statuts permet notamment de définir les modalités de prise de décision, à l’unanimité ou à la majorité par exemple.<br><br>
          Par ailleurs, les associés d’une SCI désignent un gérant, qui aura comme fonction de prendre à sa charge la gestion courante du ou des biens immobiliers détenu(s) par la société, sans avoir à engager de formalités auprès des autres associés.<br><br>
          <strong>Société civile immobilière et régime de l’indivision : quelles différences ?</strong><br><br>
          Être propriétaire d’un bien immobilier à plusieurs se fait plus couramment par le biais du régime de l’indivision. Ne nécessitant aucune formalité, le régime de l’indivision s’applique d’office, notamment dans le cas d’une succession où les héritiers sont multiples.<br><br>
          Sous le régime de l’indivision, chaque propriétaire, appelé indivisaire, détient une quote-part mais ses droits s’étendent sur l’ensemble du ou des biens. A contrario, dans le cadre d’une société civile immobilière, chaque associé détient des parts sociales auxquelles ses droits se limitent.
        </p>
      <h4 class="text-info-title">Société civile immobilière : quels avantages ?</h4>
        <p class="text-info-paragraph">
          La société civile immobilière facilite la gestion et la transmission du patrimoine immobilier.
        </p>
      <h4 class="text-info-title">Gestion du patrimoine au sein d’une SCI</h4>
        <p class="text-info-paragraph">
          Dans le cadre d’une société civile immobilière, les dettes et bénéfices engendrés par le bien détenu par la société sont répartis entre les associés. Ainsi, si des travaux doivent être accomplis sur les biens détenus, leur coût est assumé par l'ensemble des associés, à hauteur des parts sociales qu’ils détiennent.<br><br>
          De plus, obtenir a minima l’accord des associés représentant la majorité des parts sociales de la société est nécessaire pour procéder à la cession du bien. En cas d’une mésentente, ou d’aspirations divergentes, la société civile immobilière permet de protéger le patrimoine. Aussi, la société civile immobilière est particulièrement indiquée afin de gérer un patrimoine familial.
        </p>
      <h4 class="text-info-title">Transmission du patrimoine au sein d’une SCI</h4>
        <p class="text-info-paragraph">
          La société civile immobilière a l’avantage de faciliter la transmission d’un patrimoine.<br><br>
          Si, en tant que parents, vous souhaitez transmettre un bien immobilier à vos enfants, vous pouvez leur céder des parts de votre SCI de manière successive. Vous bénéficiez ainsi des abattements prévus pour les droits de succession en ligne directe, s’élevant à 100 000 € par enfant pour chaque donation, renouvelable tous les 15 ans.
        </p>
      <h4 class="text-info-title">Quelles démarches effectuer afin de créer une SCI ?</h4>
        <p class="text-info-paragraph">
          Afin de constituer une société civile immobilière, vous devez :
        </p>
        <ul class="text-info-paragraph">
          <li>
            rédiger les statuts, indiquant notamment le gérant et le siège social de la société (qui peut être le domicile du gérant)
          </li>
          <li>
            constituer et déposer le capital auprès d’une banque
          </li>
          <li>
            publier un avis de création de votre société dans un journal d’annonces légales
          </li>
          <li>
            procéder à l’immatriculation de la société en ligne sur le site du guichet des formalités des entreprises : <a href="https://formalites.entreprises.gouv.fr/">formalites.entreprises.gouv.fr.</a>
          </li>
        </ul>
      <h4 class="text-info-title">Quelle fiscalité pour les bénéfices de la société civile immobilière ?</h4>
        <p class="text-info-paragraph">
          Votre société civile immobilière peut engendrer des bénéfices si les biens qu’elle détient sont loués et que vous percevez en contrepartie des loyers.<br><br>
          Les revenus fonciers perçus dans le cadre de la société civile immobilière sont soumis à l’impôt sur le revenu. Chaque associé indique, dans sa déclaration de revenus, les sommes qu’il a perçues par le biais de la SCI. <br><br>Au sein d’une SCI, il existe deux systèmes d’imposition à savoir l’impôt sur les sociétés ou IS et l’impôt sur le revenu ou IR. Lorsque la société est soumise à l’IS, cela engendre plusieurs répercussions, notamment sur les revenus des associés et la manière dont le résultat imposable est évalué. Les règles d’imposition des plus-values et des cessions de parts sociales entrent également en jeu.
        </p>
      <h4 class="text-info-title">La SCI soumise à l’IS : comprendre son fonctionnement, comparatif</h4>
        <p class="text-info-paragraph">
          La SCI est une structure légale à caractère civil régie par le Code civil. Ce qui permet à un groupe d’associés de gérer ensemble un patrimoine immobilier. Elle a pour objectif la simple détention et gestion d’un patrimoine immobilier sans générer de profits. Elle peut également générer des revenus par la location ou la revente de biens immobiliers. On a aussi le cas de la SCI construction vente ou SCCV qui peut construire un bien immobilier et le revendre. 
          En règle générale, la fiscalité des SCI soumises à l’impôt sur le revenu (IR) obéit aux conditions fiscales des revenus fonciers. La société n’est pas redevable d’impôts sur ses bénéfices ou sur les plus-values immobilières. Au lieu de cela, chaque associé est imposé individuellement sur sa part de résultat, similaire à la fiscalité des particuliers qui possèdent directement des biens immobiliers. Autrement dit, chaque associé est imposé à l’IR sur sa part de revenus fonciers. Des prélèvements sociaux s’appliquent également à un taux global de 17,2 % sur ces revenus.
          En cas de déficits, ils peuvent être reportés sur les revenus fonciers des dix années suivantes. Dans certains cas spécifiques, ils peuvent également être imputés sur le revenu global de l’associé jusqu’à un certain plafond.
          Concernant les plus-values immobilières, elles sont imposées à l’IR à un taux de 19 %, auxquels s’ajoutent les prélèvements sociaux de 17,2 %. Une taxe supplémentaire est appliquée pour les plus-values supérieures à 50 000 euros.
          De plus, elles sont soumises à des abattements en fonction de la durée de détention du bien. Après la 6e année de détention, un abattement progressif s’applique. Au-delà de 22 ans de détention, la plus-value est totalement exonérée pour l’IR. Concernant les prélèvements sociaux, l’exonération totale intervient après 30 ans de détention. 
          En ce qui concerne les cessions de parts de SCI, lorsqu’un associé cède des parts de SCI, il est soumis aux règles des plus-values immobilières. Les associés moraux sont soumis au régime des plus-values professionnelles.
        </p>
      <h4 class="text-info-title">La SCI soumit à l’impôt sur les sociétés</h4>
        <p class="text-info-paragraph">
          Les SCI soumises à l’Impôt sur les Sociétés (IS) ont une fiscalité différente. Les bénéfices et les plus-values sont imposés au niveau de la SCI, tandis que les associés ne paient des impôts que sur les dividendes qu’ils choisissent de distribuer. En d’autres termes, les déficits ne peuvent être imputés que sur les futurs bénéfices de la société.
          Pour les plus-values sur les biens immobiliers, les règles des plus-values professionnelles s’appliquent. Elles sont ajoutées aux bénéfices imposables à l’IS. En raison de l’amortissement des biens immobiliers, les plus-values peuvent être substantielles, entraînant une imposition importante.
          En outre, lorsqu’un associé cède des parts de SCI à l’IS, la fiscalité dépend du statut de l’associé. Les personnes physiques bénéficient d’un abattement pour la durée de détention, ce qui réduit l’imposition sur la plus-value. Cet abattement est de 50 % pour les titres détenus entre 2 et 8 ans, et de 65 % pour les titres détenus plus de 8 ans.
        </p>
      <h4 class="text-info-title">SCI imposable à l’IR vs SCI imposable à l’IS </h4>
        <p class="text-info-paragraph">
          La différence fondamentale entre ces deux régimes réside dans le système d’imposition des bénéfices. En SCI à l’IR, les bénéfices sont imposés au niveau des associés en tant que revenus fonciers. À l’IS, ils sont imposés au niveau de la société, et les associés ne paient des impôts que sur les dividendes distribués.
          Les frais d’acquisition les différencient également. Dans une SCI soumise à l’IR, les frais d’acquisition des immeubles ne sont pas déductibles fiscalement. Ce qui peut entraîner une charge fiscale plus élevée. En revanche, dans une SCI à l’IS, ces frais sont déductibles du résultat imposable, offrant ainsi une possible réduction de la charge fiscale pour les associés.
          Quant aux charges déductibles, l’imposition à l’IR permet la déduction de certaines charges, principalement liées aux biens immobiliers. Cependant, l’option à l’IS autorise la déduction de toutes les charges engagées dans l’intérêt de la société. Cela offre une plus grande flexibilité en matière de déduction.
          D’une part, seule une SCI soumise à l’IS permet la déduction fiscale de l’amortissement du bien immobilier. Ce qui peut être un avantage significatif en termes de réduction de l’impôt sur les bénéfices. De plus, les associés ne sont imposés que sur les dividendes distribués. Cela peut différer en fonction des choix de distribution de la société. Dans la société soumise à l’IR, les associés sont imposés directement sur leur part des bénéfices au titre des revenus fonciers. 
          Les associés d’une SCI imposable à l’IR sont soumis à l’imposition des plus-values de cession de biens immobiliers. Ce qui peut affecter leurs finances personnelles. En revanche, dans une SCI imposée à l’IS, l’imposition se fait au niveau de la société. Elle offre ainsi un avantage fiscal potentiel pour certains investisseurs.
          Pour finir, les règles d’imposition des cessions de parts diffèrent entre les deux régimes. En SCI à l’IR, les cessions de parts sont imposées en tant que plus-value immobilière. Étant soumise à l’IS, l’imposition dépend du statut de l’associé (personne physique ou morale) et peut bénéficier d’abattements en fonction de la durée de détention.
        </p>
      <h4 class="text-info-title">Les étapes de création d’une SCI soumise à l’IS</h4>
        <p class="text-info-paragraph">
          Pour créer une SCI, il est d’abord nécessaire d’avoir au moins deux associés, avec la possibilité d’inclure un mineur non émancipé. Ensuite, l’objet social de la société doit inclure l’acquisition, la gestion, et la vente de biens immobiliers, ainsi que des opérations financières et mobilières liées à cet objet. Après avoir vérifié ces conditions fondamentales, plusieurs étapes administratives sont nécessaires. Par conséquent, il convient de :
        </p>
        <ul class="text-info-paragraph">
          <li>Rédiger les statuts de la SCI</li>
          <li>effectuer les apports en numéraires ou en nature</li>
          <li>nommer un gérant pour la société si ce n’est pas déjà spécifié dans les statuts publier un avis de constitution de la SCI dans le JAL. Cette étape est obligatoire même en cas de liquidation de la SCI</li>
          <li>remplir et signer une déclaration de création d’une société civile</li>
          <li>rassembler tous les documents requis pour l’immatriculation de la société</li>
          <li>soumettre le dossier de demande d’immatriculation de la SCI aux autorités compétentes.</li>
        </ul>
        <p class="text-info-paragraph">
          Ces étapes sont essentielles pour créer une SCI et lui permettre d’exercer légalement ses activités immobilières.
        </p>C
      <h4 class="text-info-title">Les statuts et les apports au capital social de la SCI</h4>
        <p class="text-info-paragraph">
          La première étape cruciale consiste à rédiger les statuts de la société. Ils enregistrent non seulement le fonctionnement de la société, mais définissent également l’ensemble des règles régissant les rapports entre associés. Tous les associés doivent les signer, sauf si un notaire est impliqué, notamment lorsqu’un bien immobilier est apporté en nature. Ces clauses statutaires doivent obligatoirement contenir des informations essentielles suivantes :
        </p>
        <ul class="text-info-paragraph">
          <li>la forme juridique de la société</li>
          <li>son objet social</li>
          <li>son nom</li>
          <li>l’adresse du siège social</li>
          <li>le capital social</li>
          <li>les apports de chaque associé</li>
          <li>la durée de la société</li>
          <li>les modalités de fonctionnement</li>
          <li>es détails sur la gérance</li>
          <li>les prises de décision collectives.</li>
          <li>Ensuite, les associés peuvent ajouter d’autres clauses pour organiser la société, tant qu’elles respectent la réglementation des sociétés civiles.</li>
        </ul>
        <p class="text-info-paragraph">
          Si le gérant n’est pas nommé directement dans les statuts, une procédure de nomination doit être suivie avec un acte écrit pour officialiser cette décision. Concernant les apports en capital, les associés jouissent d’une grande liberté pour déterminer les modalités de libération des apports en numéraire, sans qu’il soit obligatoire de réaliser un dépôt initial. Cependant, pour les apports en nature, notamment les biens immobiliers, une évaluation et un acte notarié sont requis.
        </p>
      <h4 class="text-info-title">La publication de l’annonce de constitution de la SCI </h4>
        <p class="text-info-paragraph">
          Une fois les statuts de la SCI signés, il est obligatoire de publier une annonce légale de constitution de la société. Il est essentiel de choisir un journal habilité à publier ce type d’avis dans le département où le siège social de la société se trouve. La publication en ligne est le moyen le plus simple de s’acquitter de cette formalité, permettant une procédure rapide et guidée pour ne rien oublier.
        </p>
      <h4 class="text-info-title">La déclaration de constitution de la société civile immobilière </h4>
        <p class="text-info-paragraph">
           Pour créer une SCI, il est impératif de remplir  le formulaire « Déclaration d’immatriculation d’une société civile. » Ce document exige la fourniture de diverses informations essentielles sur la société. Ainsi, sa raison sociale, l’adresse du siège, son activité, son capital, l’identité du gérant, le régime fiscal doivent y figurer. Pour faciliter le processus de remplissage, une notice explicative est mise à disposition, et le formulaire peut être téléchargé en ligne.
        </p>
      <h4 class="text-info-title">La demande d’immatriculation de SCI au RCS</h4>
        <p class="text-info-paragraph">
          Pour demander l’immatriculation de votre SCI au Registre du Commerce et des Sociétés (RCS), vous devez constituer un dossier incluant les éléments suivants : </p>
        <ul class="text-info-paragraph">
          <li>un formulaire M0 société civile remplie et signée</li>
          <li>un exemplaire original des statuts, signé par tous les associés et daté</li>
          <li>une copie certifiée conforme de l’acte de nomination du gérant s’il n’est pas nommé dans les statuts constitutifs </li>
          <li>un justificatif d’occupation régulière des locaux du siège social </li>
          <li>une attestation de la publication de l’avis de constitution dans un journal d’annonces légales</li>
          <li>une copie de sa pièce d’identité, une déclaration sur l’honneur de non-condamnation signée et datée, ainsi qu’une attestation de filiation du gérant physique </li>
        </ul>
        <p class="text-info-paragraph">
          Pour chaque associé physique, joindre une copie de sa pièce d’identité  
          Pour chaque associé et gérant moral, inclure un extrait d’immatriculation datant de moins de trois mois  
          Une fois le dossier complet, l’immatriculation de la société sera traitée rapidement.
        </p>
      <h4 class="text-info-title">Les avantages de l’option IS pour la SCI</h4>
        <p class="text-info-paragraph">
          Le choix de l’impôt sur les sociétés pour une SCI offre divers avantages, notamment la possibilité d’amortir fiscalement les biens immobiliers. Cette option permet de déduire annuellement une dotation aux amortissements du résultat imposable jusqu’à la fin du plan d’amortissement.
          La déduction de toutes les charges liées à l’intérêt de la SCI est un avantage essentiel de l’impôt sur les sociétés. La société sous ce régime peut déduire un large éventail de charges, y compris les travaux de construction et d’agrandissement, qui sont amortissables. De plus, les frais associés à l’acquisition de biens immobiliers, tels que les frais de notaire et les droits d’enregistrement, sont également déductibles de l’assiette fiscale à l’IS. En outre, si le gérant de la SCI est rémunéré, cette rémunération peut être déduite du résultat imposable à l’IS.
          La SCI sous ce régime offre un avantage significatif en permettant aux associés de gérer leur revenu imposable. Ces derniers ne sont ainsi imposés qu’en fonction des dividendes distribués. En l’absence de dividendes, il n’y a pas de taxation pour les associés.
        </p>
      <h4 class="text-info-title">Les inconvénients de la SCI en IS</h4>
        <p class="text-info-paragraph">
          Le régime de l’impôt sur les sociétés présente des inconvénients, notamment en ce qui concerne les plus-values immobilières. En réalité, les amortissements déductibles peuvent augmenter la plus-value imposable lors de la vente d’un bien immobilier. Cependant, cela est en partie compensé par les avantages fiscaux liés à ces amortissements.
          Sous le régime de l’IS pour une SCI, les déficits ne peuvent pas être déduits du revenu global des associés. Ils peuvent uniquement être déduits des bénéfices futurs de la société. En revanche, les SCI soumises à l’impôt sur le revenu permettent un report de déficit sur le revenu global jusqu’à un certain plafond annuel.
          De même, l’exonération totale des cessions de titres et des plus-values immobilières après une longue détention n’est pas applicable. Les associés physiques sont soumis au régime des plus-values sur valeurs mobilières, avec un abattement pour une durée de détention après deux ans. De plus, une exonération totale n’est pas possible, que ce soit pour les cessions de parts ou d’actifs immobiliers.
          Les SCI soumises à l’IS doivent aussi avoir à disposition une comptabilité commerciale. Ce qui entraîne des frais comptables supplémentaires. Cependant, cette obligation ne s’applique pas si la SCI a un associé moral soumis à l’IS ou relevant des BIC.
        </p>
</div>
