<div class="pink-card-grid">
  <div class="pink-card">
    <h2>Votre projet</h2>
      <div>
        <span class="card-line"><p>Prix d'achat FAI</p><div class="input-perso">60 000 €</div></span>
        <span class="card-line"><p>Frais de notaire</p><div class="input-perso">60 000 €</div></span>
        <span class="card-line"><p>Travaux</p><div class="input-perso">60 000 €</div></span>
        <span class="card-line"><p>Achat meubles</p><div class="input-perso">60 000 €</div></span>
        <span class="card-line"><p>Total</p><div class="input-perso">60 000 €</div></span>
      </div>
  </div>
  <div class="pink-card">
    <h2>Financement</h2>
      <div>
        <span class="card-line"><p>Apport</p><div class="input-perso">40 000 €</div></span>
        <span class="card-line"><p>Montant du crédit</p><div class="input-perso">25 000 €</div></span>
        <span class="card-line"><p>Durée du crédit</p><div class="input-perso">20 ans</div></span>
        <span class="card-line"><p>Taux d'intérêt</p><div class="input-perso">2,5%</div></span>
        <span class="card-line"><p>Mensualités hors assurance</p><div class="input-perso">500 €</div></span>
        <span class="card-line"><p>Taux assurance emprunt</p><div class="input-perso">0,25%</div></span>
        <span class="card-line"><p>Coût assurance mensuel</p><div class="input-perso">30 €</div></span>
        <span class="card-line"><p>Mensualités avec assurance</p><div class="input-perso">530 €</div></span>
      </div>
  </div>
  <div class="pink-card">
    <h2>Recettes locatives</h2>
      <div>
        <span class="card-line"><p>Loyer mensuel hors charges</p><div class="input-perso">900 €</div></span>
        <span class="card-line"><p>Loyer menseul charges comprises</p><div class="input-perso">990 €</div></span>
        <span class="card-line"><p>Taux de révision loyer IRL</p><div class="input-perso">1%</div></span>
        <span class="card-line"><p>Taux de vacance locative</p><div class="input-perso">2%</div></span>
      </div>
  </div>
  <div class="pink-card">
  <h2>Recettes locatives</h2>
    <div>
      <span class="card-line"><p>Charges locatives par an</p><div class="input-perso">800 €</div></span>
      <span class="card-line"><p>Autres charges</p><div class="input-perso">900 €</div></span>
      <span class="card-line"><p>Taux d'indexation charges</p><div class="input-perso">1%</div></span>
      <span class="card-line"><p>Taxe foncière annuelle</p><div class="input-perso">1200</div></span>
      <span class="card-line"><p>Intérêt d'emprunt</p><div class="input-perso">4200</div></span>
      <span class="card-line"><p>Assurance crédit</p><div class="input-perso">90 €</div></span>
    </div>
  </div>
  <div class="pink-card">
  <h2>Bilan mensuel avant impôts</h2>
    <div>
      <span class="card-line"><p>Recettes locatives</p><div class="input-perso">823 €</div></span>
      <span class="card-line"><p>Charges totales</p><div class="input-perso">900 €</div></span>
      <span class="card-line"><p>Taux d'indexation charges</p><div class="input-perso">1%</div></span>
      <span class="card-line"><p>Taxe foncière annuelle</p><div class="input-perso">1200</div></span>
      <span class="card-line"><p>Intérêt d'emprunt</p><div class="input-perso">4200</div></span>
      <span class="card-line"><p>Assurance crédit</p><div class="input-perso">90 €</div></span>
    </div>
  </div>
</div>
