            <%# <%= render "devise/shared/links" %>

                <%# connex en dur %>
                <!-- <div class="main-new">
                          <div class="new-card">
                          <h2>Se connecter</h2>
                            <div>

                              <span class="card-line"><p>Adresse e-mail</p><div class="input-perso2">albert.dupont@gmail.com</div></span>
                              <span class="card-line"><p>Mot de passe </p><div class="input-perso2">****</div></span>

                              <div class="div-button">

                    <%= link_to "Confirmer", new_user_session_path, class:"main-button" %>
                  </div>

                            </div>
                        </div>
                </div> -->
