.background {
  background-image: url(pageperso2.jpg);
  background-position: center;
  background-size: cover;
  // opacity: 0,75;
  opacity: 5;
  padding: 70px;
}

.pink-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin: 0px;
  // padding: 70px 150px;
}

.pink-card {
  background-color: #fdf2f3;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
  padding: 6px;
  font-family: "Roboto", sans-serif;
  padding: 40px;
  gap: 20px;
}
.pink-card h2 {
  font-size: 20px;
  font-weight: 900;
  color: #123749;
}

.pink-card p {
  font-size: 16px;
  font-weight: 700;
  margin: 0px;
  color: #6c838e;
}
.card-line {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  margin-bottom: 10px;
  align-items: center;
}

.input-perso {
  color: #6c838e;
  background-color: white;
  text-align: center;
  width: 130px;
  border: 1px solid #6c838e;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.result {
  flex-grow: 1;
}

.result h2 {
  margin: 0;
}
