.footer {
  height: 145px;
  background-color: rgb(217, 217, 217);
}

.footer-items {
  margin-left: 110px;
}

.mentions {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin-bottom: 8px;
  padding-top: 16px;
}

.footer-title {
  padding-top: 6px;
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: rgb(18, 55, 73);
}

.mention-item {
  margin-bottom: 4px;
}

i {
  margin-right: 4px;
}
