.main-container {
  background-color: white;
  width: 1100px;
  padding: 45px 115px 65px 45px;
  margin: auto;
  margin-top: 120px;
}

.title {
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 55px;
}

.main-button {
  margin-top: 30px;
}

.form-container {
  justify-content: center;
  width: 800px;
  margin: auto;
}

.form-inline {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4px;
}

.form-group-inline {
  display: flex;
  align-items: center;
}

.form-label-inline {
  margin-top: 5px;
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: rgba(18, 55, 73, 0.8);
}

.form-input-inline {
  justify-content: flex-start;
  width: 230px;
  height: 36px;
  border-radius: 18px;
  border-color: rgb(18, 55, 73);
}

.form-input-inline:hover {
  box-shadow: 0px 0px 10px rgba(40, 25, 255, 0.2);
}

.form-input-inline::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(18, 55, 73, 0.6);
  font-style: italic;
}

.text-space {
  margin-top: 6px;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: rgba(18, 55, 73, 0.8);
}

.progress-container {
  margin: auto;
  margin-top: 50px;
  width: 525px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid rgb(18, 55, 73);
  background-color: white;
}

.progress-bar {
  margin-left: 0px;
  width: 105px;
  height: 8px;
  border-radius: 5px;
  background-color: rgb(135, 215, 235);
}
