body {
  margin: 0;
  padding: 0;
}

.navbar {
  // Hex #123749
  background-color: rgb(18, 55, 73);
  // color: white;
  color: rgb(230, 172, 60);

  // padding: 10px 20px;
  // Hex couleur 'or' #E6AC3C
  // rgb couleur 'or' rgb(230, 172, 60)
}

.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  width: 160px;
  height: 50px;
  // affichage du logo
  background-image: asset-url("logo-perspective-OR.png");
  background-size: 110%;
  background-position: center;
  padding: 0px;
  margin-top: 15px;
  margin-left: 50px;
  cursor: pointer;

  // font-weight: bold;
  // color: white;
}

.logout-btn {
  background-color: transparent;
  // color: white;
  color: rgb(230, 172, 60);
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-right: 50px;
  text-decoration: none;
}

// .navbar-avatar-img {
//   background-color: white;
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
//   margin-right: 50px;
// }

// <%# -----
// animation texte
// ----- %>

.loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  line-height: normal;
  text-align: center;
}

.loading-text-words {
  display: inline-block;
  margin: 0 5px;
  color: rgb(230, 172, 60);
  filter: blur(4px);
  animation: blur-text 2.5s infinite linear alternate;
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}
