.background {
  background-image: url(img-page-perso.avif);
  background-position: center;
  background-size: cover;
  opacity: 0,75;
}

.pink-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin: 0px;
  padding: 70px 200px;
}

.pink-card {
  background-color: #fdf2f3;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 6px;
  font-family: "Roboto", sans-serif;
  padding: 40px;
}
.pink-card h2 {
  font-size: 20px;
  font-weight: bolder;
  color: #123749;
}

.pink-card p {
  font-size: 16px;
  margin: 0px;
  color: #4a6472;
}
.card-line {
  display: flex;
  justify-content: space-between;
  min-width: 350px;
  margin-bottom: 10px;
  align-items: center;
}

.input-perso {
  color: rgb(167, 161, 161);
  background-color: white;
  color: #123749;
  text-align: center;
  width: 130px;
  border: 1px solid rgb(18, 55, 73);
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.result {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
