
<div class="footer">

<div class="footer-items">

<div class="company-info">
<p class="footer-title">Perspective</p>
<p class="mail"><i class="fa-solid fa-envelope"></i>contact@perspective.com</p>
</div>

<div class="mentions">
<p class="mention-item">Perspective 2023</p>
<p class="mention-item">Mentions légales</p>
<p class="mention-item">Conditions générales d’utilisation</p>
<p class="mention-item">Politique de confidentialités</p>
<p class="mention-item">Politique de cookies</p>
</div>
</div>

</div>
